#tpr-container {
    color: #333;
}

#tpr-container .section-panel table {
    table-layout: fixed;
    margin-bottom: 0;
}
  
#tpr-container .clone {
    display: none;
}

#tpr-container #tpr-settings {
    font-size: 24px;
    color: #999;
}

#tpr-container #tpr-settings:hover {
    color: #222;
}

#tpr-container .input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#tpr-container .narrow-input {
    width: 65px !important;
}

#tpr-container .control-label-sm {
    padding-top: 0px;
    margin-bottom: 0px;
    text-align: right;
}

#tpr-container .rendered-check {
    text-align: center;
}

#tpr-container .duration {
    text-align: center;
}

#tpr-container .progressbar {
    width: 100%;
}

#tpr-container button:disabled {
    color: #BBB;
}

#tpr-container .focused {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

#tpr-container #record-key-input-container {
    padding-top: 2px;
    padding-right: 2px;
    text-align: left;
}

#tpr-container #record-key-remove {
    margin-top: 1px;
    display: none;
}

/** Replay/Rendering **/
#menuContainer .modal-body {
    padding-left: 0px;
    padding-right: 0px;
}

#tpr-container .hidden-file-input {
    display: none;
}

#tpr-container #rendering {
    display: none;
}

/*#tpr-container #alert-message {
    display: none;
}*/

/** All tables. **/

/* Table controls. */
#tpr-container .table-header {
    height: 64px;
    line-height: 64px; /* vertical align */
    padding-left: 24px;
    padding-right: 14px;
}

#tpr-container .table-header .controls {
    display: none;
    float: right;
    cursor: pointer;
}

#tpr-container .table-header .controls > div {
    display: inline-block;
}

#tpr-container .table-header-left {
    display: inline-block;
}

#tpr-container .table-header-left .text {
    font-weight: bold;
    font-size: medium;
}

/* Table column sorting. */
#tpr-container .orderable .sort-icon {
    font-size: 16px;
    float: left;
    margin-left: -24px;
    opacity: 0.87;
}

#tpr-container .sorting_asc .sort-icon {
    transform: rotate(90deg);
    transition: transform 0.4s;
}

#tpr-container .sorting .sort-icon {
    display: none;
}

#tpr-container .sorting:hover .sort-icon {
    display: initial;
    opacity: 0.26;
    transform: rotate(90deg);
}

#tpr-container .sorting_desc .sort-icon {
    transform: rotate(-90deg);
    transition: transform 0.4s;
}

#tpr-container .orderable {
    background-image: none !important;
}

/* Table fonts */
#tpr-container .table th {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    opacity: 0.54;
}

#tpr-container .table th.sorting_asc, #tpr-container .table th.sorting_desc {
    opacity: 0.87;
}

#tpr-container .table tr.selected {
    background-color: #F5F5F5;
}

#tpr-container th.cb-cell {
    opacity: 0.87;
}

#tpr-container .table tbody {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    opacity: 0.87;
}

#tpr-container .orderable.sorting:hover {
    opacity: 0.87;
}

/* Checkbox spacing. */
#tpr-container .table th:first-child {
    padding-left: 24px;
    padding-right: 24px;
}

#tpr-container .table td:first-child {
    padding-left: 24px;
    padding-right: 24px;
}

#tpr-container .table td, #tpr-container .table th {
    vertical-align: middle;
}

#tpr-container .table tbody tr {
    height: 48px;
}

/** Replay table. **/
#replay-table .controls > div {
    display: inline-block;
    padding: 8px;
    cursor: pointer;
}

#replays .row-name {
    width: 100% !important;
}

#replay-table .row-name .replay-name-edit {
    padding: 8px;
    margin: -8px 0px;
}

/* Last cell leaves spacing to action icons. */
#replay-table tr td:last-child {
    padding: 0px;
}

#replay-table tr .replay-edit {
    display: none;
}

#replay-table tr .replay-name-edit {
    cursor: pointer;
    padding: 8px;
}

#replays .table .data-cell {
    padding-left: 56px;
    text-align: right;
}

#replays .table .fixed-cell + th, #replays .table .fixed-cell + td {
    padding-left: 24px;
}

#replays .table .fixed-cell {
    padding-left: 0px;
    padding-right: 0px;
}

#replays .table .cb-cell {
    width: 18px;
}

.dataTables_scrollHeadInner {
    width: 100% !important;
}
.dataTables_scrollHeadInner > table {
    width: 100% !important;
}
