@import 'roboto';

// heights
$card-table-header-height: 64px;
$card-table-row-height: 48px;
$card-table-footer-height: 56px;

.card {
    .card-header {
        height: $card-table-header-height;
        padding: {
            left: 24px;
            right: 14px;
        }

        .action {
            padding-right: 24px;

            &:last-of-type {
                padding-right: 0px;
            }
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card-footer {
        @extend %text-medium;
        @include roboto-regular(12px);
        height: $card-table-footer-height;
        padding: 0px 6px;
        align-items: center;
        text-align: center;
        flex-direction: row;
        display: flex;

        .flex {
            flex: 1;
        }
    }
}

.card-table {
    th, td {
        vertical-align: middle;
    }
    td {
        &:first-of-type {
            padding-left: 24px;
        }

        &:not(nth-of-type(1)) {
            padding-right: 56px;
            text-align: right;
        }

        &:last-of-type {
            padding-right: 26px;
        }
    }

    // content row styles
    tr {
        //height: $card-table-row-height;

        // Checkbox.
        th:first-child, td:first-child {
            padding-left: 24px;
            padding-right: 0px;
            width: 56px;
            min-width: 56px;
        }

        th:nth-of-type(2), td:nth-of-type(2) {
            padding-left: 10px;
        }

        th:last-of-type, td:last-of-type {
            padding-right: 24px;
        }

        th, td {
            padding: 6px 28px 6px 28px;
            box-sizing: border-box;
            border-bottom: 1px solid #e0e0e0;
        }

        td {
            height: $card-table-row-height;
        }

        &:hover {
            background-color: #EEEEEE;
        }

        &.selected {
            background-color: #F5F5F5;
        }
    }
    // Processing
    tr.processing {
        th {
            padding: 0px;
            height: 1px;
            border-bottom: 0px;
        }
        paper-progress {
            // Default.
            height: 0px;
            transition: linear .2s height;
            width: 100%;
            &.active {
                height: 3px;
            }
        }
    }
    table-layout: fixed;
    margin-bottom: 0;

    // empty
    .dataTables_empty {
        text-align: center;
    }
}

/* bootstrap material design resets */
.card .card-height-indicator {
    margin: 0;
}

.card .card-content {
    position: relative !important;
}

.card-container {
    padding-left: 10px;
    padding-right: 10px;
}

table.table {
    border-bottom: 1px solid #ddd;
}

/* datatables css override auto */
.card .table {
    margin: 0; // left/right: auto
}
