#tpr-container {
    color: #333;
}

#tpr-container .hidden {
    display: none !important;
}

/* start resets for redesign page */
#tpr-container {
    font-size: 14px;
}

#tpr-previewer {
    /* reset for redesign page */
    color: black;
}

#tpr-container thead {
    background-color: white;
}

#tpr-container tr {
    background-color: white;
}

.play-now #ReplayMenuButton {
    margin-left: 20px;
    cursor: pointer;
}

#tpr-container .btn {
    box-shadow: none;
}

/* end redesign resets */

/* Menu container */
#tpr-container #menuContainer {
    .modal-dialog {
        width: 70%;
    }

    .dialog-header {
        padding: 25px;
        h3 {
            margin: 0px;
        }
    }
    .modal-body {
        // Override bootstrap default.
        padding: 0px;
    }
}

#tpr-container #replays table {
    table-layout: fixed;
    margin-bottom: 0;
}

#tpr-container #replayList {
    overflow-y: auto;
}

#tpr-container #replay-headers th {
    text-align: center;
}

#tpr-container .clone {
    display: none;
}

#tpr-container .replayRow td:first-of-type, #replay-headers th:first-of-type {
    width: 4%;
}

#tpr-container #tpr-settings {
    font-size: 24px;
    color: #999;
}

#tpr-container #tpr-settings:hover {
    color: #222;
}

#tpr-container #tpr-settings .glyphicon {
    padding-top: 5px;
}

#tpr-container .input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#tpr-container .narrow-input {
    width: 65px !important;
}

#tpr-container .control-label-sm {
    padding-top: 0px;
    margin-bottom: 0px;
    text-align: right;
}

#tpr-container #noReplays {
    display: none;
}

#tpr-container #tpr-no-search-results {
    display: none;
}

#tpr-container .rendered-check {
    text-align: center;
}

#tpr-container .duration {
	text-align: center;
}

#tpr-container .progressbar {
    width: 100%;
}

#tpr-container button:disabled {
    color: #BBB;
}

#tpr-container .focused {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

#tpr-container #record-key-input-container {
    padding-top: 2px;
    padding-right: 2px;
    text-align: left;
}

#tpr-container #record-key-remove {
    margin-top: 1px;
    display: none;
}

#tpr-container .hidden-file-input {
    display: none;
}

#tpr-container .popover {
	  max-width: 800px;
	  width: auto;
}

#tpr-container #import-alert {
    .filename {
        font-family: monospace;
    }

    .reason {
        display: block;
        padding: 5px;
        font-family: monospace;
    }
}

/* Search Bar */
#tpr-container #tpr-search {
    font-size: 24px;
    color: #999;
}

#tpr-container #tpr-search:hover {
    color: #222;
}

#tpr-container #tpr-search .glyphicon {
    padding-top: 5px;
}

#tpr-container #tpr-search-info {
    font-size: 18px;
    color: #999;
}

#tpr-container #tpr-search-info:hover {
    color: #222;
}

#tpr-container #tpr-search-reset {
    font-size: 18px;
    color: #999;
}

#tpr-container #tpr-search-reset:hover {
    color: #222;
}

#tpr-container #tpr-search-div {
  display: none;
}

#tpr-search-input  { 
    padding-left:  30px; 
    padding-right: 30px;
}

.glyphicon.left-addon { 
    position: absolute;
    left:  15px;
    padding: 7px;
}

.glyphicon.right-addon {
    position: absolute;
    right: 15px;
    padding: 7px;
}


